:root {
  --primary-color: #0088a9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(36, 37, 42, 0.9);
}

li,
a,
button {
  font-weight: 600;
  font-size: 16px;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  background-color: #24252a;
}

.logo {
  cursor: pointer;
}

button {
  background-color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

/* =====For Another Type of Nav Bar===== */

/* header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

button {
  background-color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 30px;
  transition: all 0.3s ease 0s;
} */

/* ======================================== */

.nav__links {
  display: flex;
  list-style: none;
}

nav .nav__links li {
  margin-left: 2rem;
}

nav .nav__links li a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

nav .nav__links li a:hover {
  color: var(--primary-color);
  padding-bottom: 5px;
  border-bottom: var(--primary-color) 3px solid;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
