* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #24252a;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  background-color: #53424a;
}

nav .logo {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-left: 20px;
}

nav ul li a {
  display: block;
  padding: 1rem 1.2rem;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

a.active,
a:hover {
  border-bottom: 3px solid white;
}
